/* General */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', monospace;
    background-color: #e6e1f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Ventanas Retro */
.retro-window {
    position: absolute;
    border: 3px solid #000;
    background: #fafafa;
    box-shadow: 4px 4px 0px #c0c0c0;
    overflow: auto; /* Habilita el scroll si el contenido excede la ventana */
}

/* Tamaños y posiciones */
.main-window {
    width: 400px;
    height: 300px;
    top: 50px;
    left: 50px;
}

.habilidades-window {
    width: 350px;
    height: 250px;
    top: 400px;
    left: 100px;
}

.proyectos-window {
    width: 450px;
    height: 350px;
    top: 100px;
    left: 600px;
}

.proceso-window {
    width: 400px;
    height: 300px;
    top: 500px;
    left: 500px;
}

/* Barra superior */
.retro-browser-bar {
    display: flex;
    align-items: center;
    padding: 8px;
    background: #ff8a65;
    border-bottom: 2px solid #000;
}

.retro-dots {
    display: flex;
    gap: 4px;
    margin-right: 10px;
}

.retro-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.red { background-color: #FF5F57; }
.yellow { background-color: #FEBE2E; }
.green { background-color: #28C93E; }

.retro-title {
    font-size: 0.9rem;
    color: #fff;
    font-weight: bold;
}

/* Contenido */
.retro-content {
    padding: 15px;
    text-align: left;
    box-sizing: border-box;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project-item img {
    width: 100px;
    height: auto;
    border: 2px solid #000;
    object-fit: cover;
}

.retro-video {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border: 2px solid #000;
    box-shadow: 2px 2px 0px #c0c0c0;
}

.retro-button {
    display: inline-block;
    background-color: #ff8a65;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: 2px solid #000;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.retro-button:hover {
    background-color: #ff7043;
}

